* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Footer */
footer {
    background-color: #007FFF;
    color: #ffffff;
    padding: 3.4rem 0; /* Diminuído o padding vertical para reduzir a altura */
    text-align: center;
    font-size: 0.9rem; /* Reduzi o tamanho da fonte */
    margin-top: 200px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.bi-github {
    padding-bottom: 10px; /* Reduzido o padding inferior */
    cursor: pointer;
    color: #ffffff;
    font-size: 20px; /* Ajuste o tamanho do ícone */
}