header {
    background-color: #007FFF;
    padding: 0.5rem 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo h1 {
    color: #ffffff;
    font-size: 1rem; 
    margin: 0; /* Removi margens extras */
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 40px; /* Aumentei um pouco a margem entre os itens para equilibrar */
}

.nav-link {
    text-decoration: none;
    font-size: 0.95rem;
    color: #ffffff;
    font-weight: 400;
    transition: color 0.3s ease;
}

/* Efeito de hover nos links */
.nav-link:hover {
    color: #00AEEF;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 0.7rem 1.5rem; /* Ajustado para telas menores */
    }

    .nav-list {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1rem;
    }

    .open {
        display: block;
    }
}
