<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodapé Simples</title>
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>

    <!-- Conteúdo da página -->

    <footer>
        <div class="footer-content">
            <p>&copy; 2025. Lumina - Todos os direitos reservados</p>
        </div>
    </footer>

</body>

</html>
