<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <!-- Importa os scripts -->
    <script src="../js/componentsNavbar.js" defer></script>
    <script src="../js/componentsFooter.js" defer></script>
</head>

<body>

    <custom-navbar></custom-navbar>


    <main>
        <h1 class="titles">Explore o que está em alta e como isso impacta a política</h1>
        <h2>Análise de Sentimentos  </h2>
        <p>Nossa tecnologia analisa os comentários das propostas do Brasil Participativo, identificando se expressam apoio, crítica ou neutralidade. Dessa forma, conseguimos revelar de maneira precisa o impacto de cada ideia na sociedade. Com o Lumina, não se trata apenas de números, mas da voz da população traduzida em dados claros e acessíveis.</p>
        <h1>O Brasil Participativo: A fonte dos dados do Lumina</h1>
        <img src="../imgs/Painel.png">
        <p>O site Brasil Participativo é uma plataforma do governo que permite aos cidadãos contribuírem com ideias e opiniões para a construção de políticas públicas. Nele, as pessoas podem propor sugestões, comentar em propostas já existentes e votar nas iniciativas que consideram mais relevantes. É uma ferramenta que promove a participação popular na tomada de decisões, fortalecendo a democracia de forma colaborativa.</p>
        <h1>Como funciona a nossa Conexão</h1>

        <div class="container">
            <div class="Text">
                <h2>Planos Participativos</h2>
                <p>
                    Os planos participativos são iniciativas que envolvem a sociedade na elaboração de políticas públicas e diretrizes para o desenvolvimento do país. Com o objetivo de atender demandas específicas e promover maior transparência e inclusão.
                </p>
            </div>
            <div class="Img">
                <img src="../imgs/PlanoParticipativo.jpeg" alt="Descrição da imagem">
            </div>
            </div>

            <div class="container">
            <div class="Text">
                <h2>Participe das discussões</h2>
                <p>
                    Leia as propostas, deixe comentários expressando sua opinião e interaja com outros participantes.
                </p>
            </div>
            <div class="Img">
                <img src="../imgs/PessoasBP.png" alt="Descrição da imagem">
            </div>
            </div>

            <div class="container">
            <div class="Text">
                <h2>Análise de Sentimentos</h2>
                <p>
                    A partir dos comentários deixados no site, são utilizadas diferentes tecnologias para realizar análises que revelam a quantidade de pessoas com diferentes tipos de opinião sobre determinada proposta.
                </p>
            </div>
            <div class="Img">
                <img src="../imgs/Sentimentos.png" alt="Descrição da imagem">
            </div>


        </div>
        

        <h1>A Importância do Nosso Projeto</h1>
        <p>                      Um site como o Lumina, dedicado a promover a compreensão de questões políticas, desempenha um papel crucial ao oferecer informações acessíveis e confiáveis que capacitam os cidadãos a tomar decisões informadas. Ao iluminar os caminhos da política, o Lumina ajuda a construir uma sociedade mais crítica, inclusiva e comprometida com o bem-estar coletivo.
            Dessa forma, ele se torna uma ferramenta indispensável para promover a justiça social e a igualdade de oportunidades em todas as esferas da sociedade.</p>
        <div class="partners">
            <h1>Parcerios Que Fazem a Diferença:</h1>
            <img src="../imgs/BPLogo.png" alt="Descrição da imagem">
            <img src="../imgs/UnBLogo.svg" alt="Descrição da imagem">
            <img src="../imgs/LabLivreLogo.png" alt="Descrição da imagem">

        </div>

    </main>

   <!-- Footer -->
   <custom-footer></custom-footer>
</body>

</html>