<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Analysis</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="container mx-auto p-4">
      <h1 class="text-3xl font-bold text-center mb-8 text-gray-800">
        Analyze Sentiment
      </h1>

      <!-- Formulário para entrada do comentário -->
      <form method="POST" class="mb-6">
        {% csrf_token %}
        <div class="mb-4">
          <label
            for="comment"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Enter your comment:</label
          >
          <textarea
            id="comment"
            name="comment"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            rows="4"
            placeholder="Type your comment here..."
          > {{request.POST.comment}} </textarea>
        </div>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Analyze
        </button>
      </form>

      <!-- Exibição do resultado -->

      <div class="bg-white shadow-lg rounded-lg p-6">
        <p class="text-lg font-semibold text-gray-700">
          {{ sentiment_result }}
        </p>
    </div>
  </body>
</html>
