<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brasil Participativo</title>
  </head>
  <body>
    <h1>Processos Participativos</h1>
    <ul>
      {% for process in participatory_processes %}
      <li>
        <strong>ID:</strong> {{ process.id }}<br />
        <strong>Títulos:</strong>
        <ul>
          {% for translation in process.title.translations %}
          <li>
            <strong>{{ translation.locale }}:</strong> {{ translation.text }}
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>

    <h2>Decidim Version</h2>
    <p>{{ decidim_version }}</p>
  </body>
</html>
