<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Sentimentos</title>
    <link rel="stylesheet" href="../css/static/selection_page_feelings.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <!-- Importa os scripts -->
    <script src="../js/componentsNavbar.js" defer></script>
    <script src="../js/componentsFooter.js" defer></script>
</head>
<body>
    <!-- <header>
        <div class="logo">Lumina</div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Análise</a></li>
                <li><a href="#">Tópicos</a></li>
                <li><a href="#">Sobre Nós</a></li>
            </ul>
        </nav>
    </header> -->
    <custom-navbar></custom-navbar>

    <main>
        <h1 class="title">Análise de Sentimentos</h1>
        <h2 class="subtitle">Planos Participativos</h2>
        <div class="selection-buttons">
            <div class="button">
                <img src="../imgs/plano_clima.png" alt="Plano Clima">
                <span>Plano Clima</span>
                <p class="description">Foca em ampliar o acesso à educação de qualidade, combater desigualdades no ensino e promover a inclusão digital, garantindo oportunidades igualitárias para todas as regiões do país.</p>
            </div>
            <div class="button">
                <img src="../imgs/PPA_participativo.png" alt="PPA Participativo">
                <span>PPA Participativo</span>
                <!-- <p class="description">Foca em ampliar o acesso à educação de qualidade, combater desigualdades no ensino e promover a inclusão digital, garantindo oportunidades igualitárias para todas as regiões do país.</p> -->
            </div>
            <div class="button">
                <img src="../imgs/plano_educacional.png" alt="Plano Educacional">
                Plano Educacional
            </div>
            <div class="button">
                <img src="../imgs/plano_cultura.png" alt="Plano Nacional de Cultura">
                Plano Nacional de Cultura
            </div>
        </div>
    </main>
    <!-- <footer>
        <p>&copy; 2024 Lumina. Todos os direitos reservados.</p>
    </footer> -->
 
    <!-- Footer -->
    <custom-footer></custom-footer>
</body>
</html>
