<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href="../static/css/selection_topics.css" />
    <link rel="stylesheet" href="../static/css/navbar.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Importa os scripts -->
    <script src="../js/componentsNavbar.js" defer></script>
    <script src="../js/componentsFooter.js" defer></script>
  </head>
  <body>
    <!-- Navbar -->
    {% include 'components/navbar.html' %}

    <!-- Conteúdo principal -->
    <main style="text-align: center; margin-top: 100px">
      <h1 class="main-title">Propostas</h1>
      <h2 class="sub-title">Setores Sociais</h2>
      <div class="icon-grid">
        <!-- <div class="icon-card">
          <i class="bi bi-lungs" style="font-size: 3rem"></i>
          <p>Saúde</p>
        </div> -->
         
        <a href="{% url 'health' %}" class="icon-card">
  <div style="cursor: pointer;">
    <i class="bi bi-lungs" style="font-size: 3rem;"></i>
    <p>Saúde</p>
  </div>
</a>


<a href="{% url 'education' %}" class="icon-card">
        <div class="icon-card">
          <i class="bi bi-book" style="font-size: 3rem"></i>
          <p>Educação</p>
        </div>
      </a>


<a href="{% url 'security' %}" class="icon-card">
        <div class="icon-card">
          <i class="bi bi-shield-lock" style="font-size: 3rem"></i>
          <p>Segurança</p>
        </div>
</a>


<a href="{% url 'environment' %}" class="icon-card">
        <div class="icon-card">
          <i class="bi bi-tree" style="font-size: 3rem"></i>
          <p>Meio Ambiente</p>
        </div>
      </a>        

        <div class="icon-grid">


          <a href="{% url 'culture' %}" class="icon-card">
          <div class="icon-card">
            <i class="bi bi-lungs" style="font-size: 3rem"></i>
            <p>Cultura</p>
          </div>
        </a>


        <a href="{% url 'diversity' %}" class="icon-card">
          <div class="icon-card">
            <i class="bi bi-book" style="font-size: 3rem"></i>
            <p>Diversidade</p>
          </div> </a>


          <a href="{% url 'economy' %}" class="icon-card">
          <div class="icon-card">
            <i class="bi bi-shield-lock" style="font-size: 3rem"></i>
            <p>Economia</p>
          </div> </a>


          <a href="{% url 'housing' %}" class="icon-card">
          <div class="icon-card">
            <i class="bi bi-tree" style="font-size: 3rem"></i>
            <p>Habitação</p>
          </div> </a>


        <div class="icon-grid">


          
          <a href="{% url 'politics' %}" class="icon-card">
          <div class="icon-card">
            <i class="bi bi-lungs" style="font-size: 3rem"></i>
            <p>Politica</p>
          </div> </a>



          
          <a href="{% url 'technology' %}" class="icon-card">
          <div class="icon-card">
            <i class="bi bi-book" style="font-size: 3rem"></i>
            <p>Tecnologia</p>
          </div> </a>



          
          <a href="{% url 'transportation' %}" class="icon-card">
          <div class="icon-card">
            <i class="bi bi-shield-lock" style="font-size: 3rem"></i>
            <p>Transporte</p>
          </div> </a>


          
          <a href="{% url 'others' %}" class="icon-card">
          <div class="icon-card">
            <i class="bi bi-tree" style="font-size: 3rem"></i>
            <p>Outros</p>
          </div> </a>



      </div>
    </main>

    <!-- Footer -->
    {% include 'components/footer.html' %}
  </body>
</html>
